---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CountdownTimer from "@components/CountdownTimer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>After 9 Years...</h1>
      <div class="wedding-date">
        <p class="date-text">
          Friday, June 27th 2025
          <br />
          Seattle, Washington
        </p>
      </div>

      <p class="welcome-text">
        It is finally happening! Ainara and Luke are getting married. Please join us both to celebrate our love,
        but also you for playing a part in making this all possible.
        <br /><br />
        We will have an ice breaker on Thursday June 26th, Wedding on Friday the 27th, and various small group activities
        over the weekend. Learn more on this website, or ask us if you have any questions. We can't wait to see you there!
      </p>

       <div>
        <img src="/public/ainara_etc.jpg" alt="Ainara de bebe" />
        </div>

      <CountdownTimer />
    </section>
  </main>
</Layout>

<style>
    /* ===== Hero Section ===== */
    #hero {
        @apply pb-6 pt-8;
    }
    #hero h1 {
        @apply my-4 inline-block text-4xl font-bold sm:my-8 sm:text-6xl;
    }
    .wedding-date {
        @apply flex mb-8;
    }
    .date-text {
        @apply text-xl font-medium;
    }
    .welcome-text {
        @apply my-6 max-w-2xl mx-auto text-lg;
    }
    .social-wrapper {
        @apply mt-8 flex flex-col sm:flex-row sm:items-center justify-center;
    }
    .social-links {
        @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }

    /* ===== Updates Section ===== */
    #updates {
        @apply pb-6 pt-12;
    }
    #updates h2 {
        @apply text-2xl font-semibold tracking-wide text-center mb-8;
    }
</style>
