---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import { WEDDINGCONFIG } from "@config";

const validHashes = WEDDINGCONFIG.invites.map(invite => invite.hash);
---

<Layout title="RSVP">
  <Header />
  <main class="flex items-start justify-center pt-24">
    <form action="" method="GET" class="w-full max-w-md space-y-4 p-8">
      <h1 class="text-2xl font-bold text-center">Enter your RSVP code</h1>
      <div class="space-y-2">
        <label>
          <input
            type="text"
            name="code"
            required
            class="w-full p-2 border rounded"
            placeholder="Enter your code"
          />
        </label>
        <p id="error-message" class="text-red-500 hidden">Invalid RSVP code. Please check and try again.</p>
      </div>
      <button
        type="submit"
        class="w-full p-2 bg-skin-accent text-white rounded hover:opacity-90"
      >
        Submit
      </button>
    </form>
  </main>
</Layout>

<script define:vars={{ validHashes }}>
  const form = document.querySelector("form");
  const errorMessage = document.querySelector("#error-message");

  form?.addEventListener("submit", (e) => {
    e.preventDefault();
    const code = new FormData(e.target).get("code");

    if (validHashes.includes(code)) {
      window.location.href = `/rsvp/${code}`;
    } else {
      errorMessage?.classList.remove("hidden");
    }
  });
</script>