---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import CountdownTimer from "@components/CountdownTimer.astro";
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Después de 9 Años...</h1>
      <div class="wedding-date">
        <p class="date-text">
          Viernes, 27 de junio 2025
          <br />
          Seattle, Washington
        </p>
      </div>

      <p class="welcome-text">
        Acompáñanos a celebrar nuestro amor y agradecer a quienes nos han ayudado en el camino. Hemos creado
        este espacio para compartir nuestra historia y mantenerlos informados sobre todos los detalles importantes
        de nuestro día especial.
      </p>

      <CountdownTimer />
    </section>
  </main>
</Layout>

<style>
    /* ===== Hero Section ===== */
    #hero {
        @apply pb-6 pt-8;
    }
    #hero h1 {
        @apply my-4 inline-block text-4xl font-bold sm:my-8 sm:text-6xl;
    }
    .wedding-date {
        @apply flex mb-8;
    }
    .date-text {
        @apply text-xl font-medium;
    }
    .welcome-text {
        @apply my-6 max-w-2xl mx-auto text-lg;
    }
    .social-wrapper {
        @apply mt-8 flex flex-col sm:flex-row sm:items-center justify-center;
    }
    .social-links {
        @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
    }

    /* ===== Updates Section ===== */
    #updates {
        @apply pb-6 pt-12;
    }
    #updates h2 {
        @apply text-2xl font-semibold tracking-wide text-center mb-8;
    }
</style>